spring:
  profiles:
    active: local
    group:
      # application-[].yml 파일들을 병합한다.
      local: [secret, jwt]
      blue: [secret, jwt]
      green: [secret, jwt]

  application:
    name: chat

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    open-in-view: false

server:
  env: blue

---

# 로컬 환경 (local)
spring:
  config:
    activate:
      on-profile: local

server:
  port: 8080
  address: 0.0.0.0

serverName: local_server

---

# 운영 환경 (Blue)
spring:
  config:
    activate:
      on-profile: blue

server:
  port: 8080
  address: blue

serverName: blue_server

---

# 운영 환경 (Green)
spring:
  config:
    activate:
      on-profile: green

server:
  port: 8081
  address: green

serverName: green_server